@import "../../styles/vars.module";

.field {
    margin-bottom: get-rem(25px);
}

.button {
    width: 100%;
}

.error {
    composes: pSmall from "../../styles/typography.module.scss";
    margin-top: get-rem(15px);
    color: $redError;
}

.selectField {
    composes: field;
    width: get-rem(300px);
}
