@import "../../styles/vars.module";

.field {
    margin-bottom: get-rem(25px);
}

.button {
    width: 100%;
}

.error {
    composes: pSmall from "../../styles/typography.module.scss";
    margin-top: get-rem(15px);
    color: $redError;
}

.selectField {
    composes: field;
    width: get-rem(300px) !important;
}

.hiddenSelectField {
    display: none;
}

.answerForm {
    margin: get-rem(40px) 0;
}

.link {
    composes: link from "../../styles/link.module.scss";
    margin-bottom: get-rem(30px);
    display: table;
}

.answerItem {
    display: flex;
    align-items: center;
    gap: get-rem(10px);
}

.searchForm {
    display: flex;
    width: get-rem(500px);
    align-items: center;
}

.searchField {
    margin-right: get-rem(30px);
}
