@import "../../styles/vars.module";

.container {
    width: 100%;
    padding: get-rem(40px) get-rem(10px);
    margin-bottom: get-rem(30px);
    background-color: rgba($blueLight, 0.3);
    border-radius: get-rem(10px);
}

.dragContainer {
    background-color: rgba($pink, 0.8);
    padding-bottom: get-rem(110px);
}

.answer {
    padding: get-rem(10px);

    &:not(:last-child) {
        margin-bottom: get-rem(10px);
    }
}
