@import "../../styles/vars.module";

.content {
    margin-top: get-rem(30px);
}

.actionWrapper {
    display: flex;
    justify-content: center;
    margin-top: get-rem(30px);
}

.actionButton {
    width: get-rem(160px);
    &:not(:last-child) {
        margin-right: get-rem(20px);
    }
}

.resultWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: get-rem(30px);
}

.resultTitle {
    composes: pNumber from "../../styles/typography.module.scss";
    font-size: 3rem;
    letter-spacing: 0.1em;
    color: $blue;
}
