@function get-vw($target) {
    $vwContext: (375 * 0.01) * 1px;
    @return ($target / $vwContext) * 1vw;
}

@function get-rem($target) {
    $targetPx: (15) * 1px;
    @return ($target / $targetPx) * 1rem;
}

$blue: #0460a4;
$blueHover: #0f3492;
$blueLight: #ecf7fc;
$black: #000000;
$textBlack: #171717;
$red: #b00808;
$redError: #c8102e;
$white: #ffffff;
$gray: #979797;
$grayLight: #d3d3d3;
$grayBorder: #b7bfc7;

$desktopContainerWidth: 87vw;
$tabletContainerWidth: 87.5vw;
$phoneContainerWidth: get-vw(280px);

$tabletLargeMaxWidth: 1439px;
$tabletMaxWidth: 1023px;
$phoneMaxWidth: 767px;

@mixin tabletLargeMedia {
    @media screen and (max-width: $tabletLargeMaxWidth) {
        @content;
    }
}

@mixin tabletMedia {
    @media screen and (max-width: $tabletMaxWidth) {
        @content;
    }
}

@mixin phoneMedia {
    @media screen and (max-width: $phoneMaxWidth) {
        @content;
    }
}
