@import "../styles/vars.module";

.container {
    composes: container from "../styles/layout.module.scss";
    padding: get-rem(75px) 0;
    display: flex;
}

.contentWrapper {
    width: get-rem(600px);
    margin-right: get-rem(40px);
    flex-shrink: 0;
}

.questionWrapper {
    margin-top: get-rem(40px);
}

.question {
    &:not(:last-child) {
        margin-bottom: get-rem(20px);
    }
}

.questionWidget {
    width: 100%;
}
