@import "../../styles/vars.module";

.container {
    margin-bottom: get-rem(40px);
    width: 100%;
    border: 1px solid $grayBorder;
    padding: get-rem(20px) get-rem(45px);
    border-radius: get-rem(10px);

    &:hover {
        border-color: $blue;
    }
}

.errorContainer {
    border-color: $redError;

    &:hover {
        border-color: $red;
    }
}

.title {
    composes: headingH2 from "../../styles/typography.module.scss";
    composes: mobileHeadingH2 from "../../styles/typography.module.scss";
    margin-bottom: get-rem(20px);
}

.group {
    display: flex;
    align-items: center;
}

.field {
    &:not(:last-child) {
        margin-right: get-rem(20px);
    }
}
